* {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.container {
    width: 980px;
    height: 1000px;
}

.header {
    height: 100px;
}

.header img {
    height: 100px;
    width: 100px;
    display: flex;
}

.banner {
    height: 300px;
    margin: 15px 0px 15px 0px;
}

.banner img {
    height: 300px;
    width: 980px;
    background-color: gray;
}

.bar {
    height: 50px;
    background-color: black;
}

.bar ul li {
    display: flex;
    float: left;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    list-style: none;
}

.bar ul li a {
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
    list-style: none;
    color: aliceblue;
}

.bar ul li a:hover {
    font-weight: bolder;
    color: black;
    background-color: white;
}

.form {
    display: flex;
    float: right;
    margin: 0px 10px 0px 0px;
    line-height: 50px;
}

.tim-kiem input {
    height: 25px;
    width: 150px;
    margin: 0px 4px 0px 0px;
}

button {
    height: 30px;
    width: 100px;
    color: azure;
    background-color: gray;
}

.products {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
}

.products-details {
    background-color: white;
    border: 1px solid gray;
    text-align: center;
}

.products-details:hover {
    box-shadow: 5px 5px gray;
}

.products-details img {
    width: 80%;
}

h2 {
    text-align: center;
}

.ten {
    font-weight: bold;
}

.gia {
    color: red;
    font-weight: bold;
}

.gia del {
    color: gray;
}

.news {
    border: 1px solid gray;
    overflow: auto;
    padding: 20px;
    margin: 0px 0px 10px 0px;
}

.news:hover {
    box-shadow: 5px 5px black;
}

.news img {
    float: left;
    display: flex;
}

title {
    padding: 20px 0px 20px 0px;
    text-decoration: none;
    list-style: none;
}

.intro {
    line-height: 25px;
}

.footer {
    height: 75px;
    line-height: 75px;
    color: white;
    background-color: gray;
    font-weight: bolder;
    text-align: center;
}